@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.btn {
  min-width: 190px;
  padding: 0 20px;
  width: fit-content;
  height: 54px;
  border-radius: 100px;
  background-color: $color-secondary;
  color: $color-black;
  font-weight: $font-w-main;
  font-size: $font-size-lg;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: rgba($color-secondary, 0.6);
  }

  @include respond-to-tablet {
    min-width: 160px;
    height: 33px;
    font-size: $font-size-sm-mob;
  }

  &--transparent {
    background-color: transparent;
    border: 2px solid $color-secondary;
    color: $color-secondary;

    @include respond-to-desktop {
      min-width: 161px;
      height: 33px;
      font-size: $font-size-sm-tab;
    }

    &:hover {
      background-color: transparent;
      border: 2px solid rgba($color-secondary, 0.6);
      color: rgba($color-secondary, 0.6);
    }
  }
}
