@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

$bg-image-1x: '../../assets/bg-space-hero.webp';
$bg-image-2x: '../../assets/bg-space-hero@2x.webp';

.hero {
  min-height: 490px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%),
    image-set('#{$bg-image-1x}' 1x, '#{$bg-image-2x}' 2x);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;

  @include respond-to-desktop {
    min-height: 420px;
  }

  @include respond-to-tablet {
    min-height: 490px;
  }

  &__container {
    max-width: 1148px;
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond-to-tablet {
      flex-direction: column-reverse;
    }
  }

  &__content {
    @include respond-to-tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 44px;
    }
  }

  &__image-container {
    min-width: 327px;
    min-height: 367px;
    max-width: 327px;
    max-height: 367px;

    > img {
      display: block;
      max-width: 100%;
      height: auto;
    }

    @include respond-to-desktop {
      margin-right: -150px;
    }

    @include respond-to-tablet {
      margin-top: -90px;
      margin-right: 0px;

      min-width: 300px;
      min-height: 335px;
      max-width: 300px;
      max-height: 335px;
    }
  }

  &__heading {
    font-weight: $font-w-semibold;
    font-size: $font-size-4xl;
    margin-bottom: 22px;
    line-height: 100%;

    @include respond-to-desktop {
      font-size: $font-size-2xl-tab;
      width: 70%;
    }

    @include respond-to-tablet {
      text-align: center;
      width: 100%;
      font-size: $font-size-2xl-mob;
      margin-bottom: 17px;
    }

    &--accent {
      color: $color-primary;
    }
  }

  &__text {
    font-weight: $font-w-semibold;
    font-size: $font-size-2xl;
    margin-bottom: 22px;

    @include respond-to-desktop {
      font-size: $font-size-lg-tab;
    }

    @include respond-to-tablet {
      font-size: $font-size-sm-mob;
      margin-bottom: 17px;
      text-align: center;
    }

    &--accent {
      color: $color-secondary;
    }
  }
}
