@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

$bg-image-1x: '../../assets/bg-space-hero.webp';
$bg-image-2x: '../../assets/bg-space-hero@2x.webp';

.hero {
  height: 490px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(15, 20, 32, 0.79) 100%),
    image-set('#{$bg-image-1x}' 1x, '#{$bg-image-2x}' 2x);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;

   @include respond-to-desktop {
       height: 420px;
    }

  &__container {
     max-width: 1148px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__image-container {
    @include respond-to-desktop {
      margin-right: -120px;
    }
  }

  &__heading {
    font-weight: $font-w-semibold;
    font-size: $font-size-4xl;
    margin-bottom: 22px;
    line-height: 100%;

    @include respond-to-desktop {
      font-size: $font-size-2xl-tab;
      width: 70%;
    }

    &--accent {
      color: $color-primary;
    }
  }

  &__text {
    font-weight: $font-w-semibold;
    font-size: $font-size-2xl;
    margin-bottom: 22px;

    @include respond-to-desktop {
      font-size: $font-size-lg-tab;
    }

    &--accent {
      color: $color-secondary;
    }
  }
}
