$color-white: #fff;
$color-black: #000;
$color-primary: #ff70d9;
$color-secondary: #ebff00;
$color-bg: #304571;

$font-size-sm: 14px;
$font-size-md: 18px;
$font-size-lg: 24px;
$font-size-xl: 32px;

$font-main: 'Lato', Helvetica, Verdana, sans-serif;
