$color-white: #fff;
$color-black: #000;
$color-primary: #ff70d9;
$color-secondary: #ebff00;
$color-bg: #304571;

$font-size-sm: 14px;
$font-size-md: 18px;
$font-size-lg-small: 20px;
$font-size-lg: 22px;
$font-size-lg-big: 26px;
$font-size-xl: 32px;
$font-size-xl-big: 46px;
$font-size-xxl: 72px;
$font-size-xxl-big: 74px;

$font-w-bold: 900;
$font-w-semibold: 800; 
$font-w-main: 700; 

$font-main: 'Lato', Helvetica, Verdana, sans-serif;
