@import '../../styles/variables';

.footer {
  background-color: $color-black;
  text-align: center;
  height: 127px;

  &__container {
    padding: 20px;
  }

  &__icon-container {
    width: 80px;
    height: auto;
    margin: 0 auto;
    margin-top: -18px;
  }

  &__icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__heading {
    font-size: $font-size-md;
    font-weight: $font-w-semibold;
    color: $color-secondary;
  }
}
