@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.offers {
  margin: 60px 0;
  max-width: 1148px;
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto;

  @include respond-to-desktop {
    margin: 55px 0;
  }

  @include respond-to-tablet {
    padding: 0 20px;
    margin: 50px 0;
  }

  &__title {
    font-weight: $font-w-semibold;
    font-size: $font-size-2xl;

    @include respond-to-desktop {
      font-size: $font-size-xl-tab;
    }

    @include respond-to-tablet {
      font-size: $font-size-md-mob;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-bottom: 62px;
    margin-top: 40px;

    @include respond-to-desktop {
      margin-top: 30px;
      gap: 30px;
    }

    @include respond-to-tablet {
      grid-template-columns: repeat(1, 1fr);
      margin-bottom: 50px;
    }
  }

  &__list > :nth-child(3n + 1) {
    grid-column: 1 / -1;

    @include respond-to-desktop {
      grid-column: auto;
    }
  }

  &__description {
    margin-top: 17px;
    font-weight: $font-w-main;
    font-size: $font-size-md;
    color: rgba(255, 255, 255, 0.6);

    max-height: 96px;
    overflow: hidden;
    position: relative;
    transition: max-height 0.3s ease;

    @include respond-to-desktop {
      margin-top: 13px;
      font-size: $font-size-sm-tab;
    }

    @include respond-to-tablet {
      margin-top: 20px;
      font-size: $font-size-xs-mob;
      max-height: 88px;
    }
  }

  &__checkbox {
    display: none;

    &:checked ~ .offers__description {
      max-height: none;
    }

    &:checked ~ .offers__btn::after {
      content: 'Read less';
    }
  }

  &__btn {
    display: inline-block;
    margin-top: 10px;
    color: $color-secondary;
    font-weight: $font-w-semibold;
    font-size: $font-size-md;
    cursor: pointer;

    &::after {
      content: 'Read more';
    }

    @include respond-to-desktop {
      margin-top: 20px;
      font-size: $font-size-sm-tab;
    }

    @include respond-to-tablet {
      font-size: $font-size-xs-mob;
    }
  }
}
